*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    height: 800px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

button{
    font-size: 30px;
    padding: 10px;
    background: linear-gradient(135deg, blue, orange);
    border: 5px solid orange;
    color: white;
    margin: 10px;
    border-radius: 50px;
}


.profile-card{
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}